@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f2fcfd; // very light turquoise
  color: $dark;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(224, 247, 250, 0.12) 0%,    // subtle light turquoise
    rgba(129, 212, 250, 0.10) 40%,   // more subtle light blue
    rgba(120, 144, 156, 0.14) 60%,   // more subtle blue-grey
    rgba(132, 90, 255, 0.15) 80%     // more subtle mid-range indigo
  );
  background-size: 50% 50%;
  background-position: center;

}
.sass-container {
  max-width: 90% ;
  margin: auto !important;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}
textarea,
input,
button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  color: $white;
  outline: none;
}
// .flex {
//   display: flex;
//   align-items: center;
// }
.flex1 {
  display: flex;
}
.text-center {
  text-align: center;
}
.py {
  padding: 80px 0;
}

h3,
h4,
h5 {
  font-weight: 500;
}

ul {
  text-decoration: none;
  list-style-type: none;
}
